{block content}

<hr>

<h3>Required changes in package</h3>
<p>
	To make this work, add to <a href="https://github.com/Kdyby/DoctrineForms/blob/master/src/Kdyby/DoctrineForms/Controls/TextControl.php#L153">TextControl::save()</a> this piece of code:
	<code>$component->loadHttpData();</code>. Otherwise sent values are not loaded to entity.
</p>

<hr>

{control simpleForm}
